
body {
    font-family: Roboto, Helvetica Neue;
    margin: 20px;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #253b59;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

h2 {
    text-align: center;
}

p {
    text-align: center;
}
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: block;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

.resultaat {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #eef;
    display: none;
    border-radius: 5px;
}
